.materials {
	padding: 70px 0;
	background: #fff1d6;
}

.materialItems {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 100px;
}

.materialItem {
	box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.65);
	background: #fff;
	border-radius: 10px;
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 26vw;
	position: relative;
	margin-bottom: 30px;
	text-align: center;
}

.materialName {
	margin-bottom: 30px;
}

.materialItem img {
	width: auto;
	max-height: 200px; 
	border-radius: 10px;
	margin-bottom: 30px;
}

.materialOff {
	font-weight: 700;
	color: #00b562;
}

.materialBtn {
	background: none;
	box-sizing: border-box;
	border: 3px solid #00b562;
	padding: 5px;
	transition: all .2s;
}

.materialBtn:hover {
	border: 4px solid #00723e;
	padding: 4px;
	box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.65);
}

.upperBtn:hover {
	background: #0093ad;
}

/*QUESTIONS*/

.questionsSection {
	background: #d5ffa3;
	padding: 70px 0;
}

.question {
	margin-top: 70px;
	padding: 50px;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.65);
	position: relative;
}

.questionTitle {
	margin-bottom: 30px;
}

.centerDescription {
	text-align: center;
	max-width: 750px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.answers {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.answer {
	width: 48%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.5);
	background: #fff;
}

.answerHeading {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

.answerImgWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.answerImg {
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.5);
	margin: 20px 0;
	
}



















/*Responsive*/

@media (max-width: 950px) {
	.materialItem img {
		width: auto;
		max-height: 150px; 
	}
	.answers {
		justify-content: center;
		flex-direction: column;
	}
	.answer {
		width: 100%;
		margin-bottom: 20px;
	}	
}

@media (max-width: 880px) {
	.materialItem img {
		width: auto;
		max-height: 200px; 
	}
	
	.materialItem {
		width: 39vw;
	}
}

@media (max-width: 740px) {
	.materialItem img {
		width: auto;
		max-height: 200px; 
	}
	
	.materialItem {
		width: 80vw;
	}
}

@media (max-width: 680px) {
	.materialItem {
		width: 90vw;
	}
	
	.question {
		padding: 15px;
	}
}